shotPoint.txt
__pycache__/setting.cpython-310.pyc
socket/received_file.txt
socket/send.txt
test_map/map2.html
test_map/map3.html
test_map/map.html
socket/fileReceiver.py
map.html
__pycache__/setting.cpython-39.pyc
test.py
image.jpg
